<section>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4">
                <form action="/admin/add-prdct" enctype="multipart/form-data" method="POST">
                    <input type="text" placeholder="Name" name="Name" class="form-control"><br>
                    <input type="text" placeholder="Detail" name="Detail" class="form-control"><br>
                    <input type="text" placeholder="Cat" name="Cat" class="form-control"><br>
                    <input type="text" placeholder="Price" name="price" class="form-control"><br>
                    <input type="file" name="Image" class="form-control"><br>
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="container"></div>